/* html {
  height: %;
} */

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: rgb(40, 46, 83);
	font-family: Verdana, sans-serif;
	font-size: 12pt;
	margin: 0;
}

header {
	background-color: rgb(0, 3, 156);
	color: white;
	display: flex;
	align-items: center;
}

#logo {
	max-height: 100px;
}

h1 {
	display: flex;
	flex: 1;
	justify-content: center;
	margin: 20px;
	font-size: 34pt;
	width: 470px;
}

h2 {
	font-size: 26pt;
}

h3 {
	font-size: 20pt;
}

h1, h2, h3 {
	font-family: Garamond, serif;
}

nav {
	background-color: #030842;
	color: white;
	display: flex;
    margin: 0px;
	align-items: stretch;
	text-align: center;
}

nav a, nav p{
	display: flex;
	flex: 1;
	border: solid 1px white;
	margin: 0px;
	text-decoration: none;
	padding: 5px;
	height: 45px;
	font-size: medium;
	font-weight: bold;
	justify-content: center;
	align-items: center;
}

main {
	margin: 0% 10%;
	color: rgb(255, 255, 255);
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 0px 15px;
}

footer {
	background-color: #003455;
	color: white;
	padding: 25px 20px;
}

#sources{
	display: flex;
}

#sources div{
	flex: 1;
	padding: 0px 5px;
}

table{
  border: solid;
  width: 100%;
  margin: 10px 0px;
  border-collapse: collapse;
  background-color: rgb(255, 255, 255);
}

.tdtext {
	 padding-left: 25px;
	 padding-right: 25px;
	 font-size: 19px;
}

td{
    border: solid;
	background-color: rgb(1, 4, 41);
}

.tableimages {
	width: 260px;
	height: 180px;
	margin: 5px;
}

table h3 {
	text-align: center;
}

table p {
	padding: 0px 10px;
}

a{
	color: white;
}

main a{
	color: black;
}

hr{
	border: solid 2px black;
	border-bottom: transparent;
	border-left: transparent;
	border-right: transparent;
}

a:hover {
	background-color:#145a32;
}

nav p:hover {
	background-color:#145a32;
}

.questions{
	border: solid 2px white;
	padding: 15px;
	margin: 5px 0px;
	background-color: rgb(1, 4, 41);
}

button{
	padding: 10px;
	margin: 10px 0px;
}

#displayresult {
	border: solid 10px;
	text-align: center;
	display: none;
	margin: 20px 0px;
}

video {
	width: 600px;
}

figure {
	text-align: center;
}
/*Home Page*/
.mainIMG{
	width: 450px;
	height: 600px;
	margin: 10px;
}

#summary_text {
	margin: 20px;
}

#summary_text > h3 {
	font-size: 35px;
}
.img_home{
	margin-top: 10px;
	margin-bottom: 50px;
	max-width: 100%;
	width: 400px;
	height: 480px;
	display: flex;
	flex: 1;
	justify-content: space-evenly;
}

#img_section {
	display: flex;
	flex: 1;	
	justify-content: space-evenly;
	
}
#trilogy_title {
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}
#sectionMain {
  padding: auto;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(1, 4, 41);
  border: solid white;
  flex: 1;
  justify-content: space-evenly;
  width: 100%;

}

#finalSettingSection {
	padding-left: 50px;
	padding-top: 15px;
	padding-right: 50px;
	padding-bottom: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgb(1, 4, 41);
	border: solid white;
}

.settingSection {
	padding-left: 50px;
	padding-top: 15px;
	padding-right: 50px;
	padding-bottom: 15px;
	margin-top: 20px;
	background-color: rgb(1, 4, 41);
	border: solid white;
}

#sectionSecond {
	display: flex;
	margin: 0 auto;
	background-color: rgb(1, 4, 41);
	border: solid white;
	flex: 1;
	margin-top: 10px;
	margin-bottom: 10px;
	justify-content: space-evenly;
	width: 100%;
	flex-direction: column;
  }

  .introText {
	font-size: 19px;
  }